/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
    max-width: 960px;
    margin: 0 auto;
    font-family: "Poppins", arial;
    font-size: 62.5%;
    background-color: #FFF;
}

.calculator-box {
  display: flex;
  flex-direction: row;
}

.parameters-box,
.graph-box {
  display: flex;
  flex: 0 1 50%;
}

.parameter,
.submit {
  display: flex;
  flex-direction: column;
  padding: 1rem
}

p,
label,
input {
  font-size: 1rem;
}

.submit {
  margin: 1rem
}
